NEXT_PUBLIC_APP_NAME="DISKOMINFO Intern Attendance"
NODE_ENV="development"

ADMIN_NAME=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""

# Local Docker PostgreSQL
DATABASE_URL="postgresql://diskominfo:diskominfo123@localhost:5432/diskominfo_attendance"

# Better Auth
BETTER_AUTH_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=".apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-"

# Cloudinary
CLOUDINARY_URL="cloudinary://:@"
