NEXT_PUBLIC_APP_NAME="DISKOMINFO Intern Attendance"
NODE_ENV="development"

ADMIN_NAME=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""

# Neon Database
DATABASE_URL="postgresql://neondb_owner:"

# Better Auth
BETTER_AUTH_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=".apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="GOCSPX-"

# Cloudinary
CLOUDINARY_URL="cloudinary://:@"
