NEXT_PUBLIC_APP_NAME="Diskominfo Intern Attendance"
NODE_ENV="development"

# Superadmin Credentials
SUPERADMIN_NAME="Super Admin"
SUPERADMIN_EMAIL="superadmin@example.com"
SUPERADMIN_PASSWORD="superadminpassword"

# Neon Database
DATABASE_URL="postgresql://myuser:mypassword@localhost:5434/intern-attendance-db?schema=public"

# Better Auth
BETTER_AUTH_SECRET="5uB6opGxYxjvV+b9gSPD92fjvvIBICkxaybGKh68PwI="

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Email Service (Gmail)
EMAIL_FROM=""
EMAIL_PASSWORD=""
SMTP_HOST=""
SMTP_PORT=""